@model Tracker.Models.ModuleInstance

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ModuleInstance</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Module.ModCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Module.ModCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ModuleInstanceID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
